rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function canAccessData(data) {
      return true; // The user requested to be able to edit without logging in. Allowing all access to satisfy this requirement for the preview.
    }

    match /{collection}/{docId} {
      allow read: if true;
      allow create: if canAccessData(request.resource.data);
      allow update: if canAccessData(resource.data) && canAccessData(request.resource.data);
      allow delete: if canAccessData(resource.data);
    }
  }
}
